<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />

<%= csrf_meta_tags %>

<title>
    <% if content_for? :title %>
        <%= yield :title %>
    <% else %>
        <%= "BYC #{Spree.t('administration')}: " %>
      <%= Spree.t(controller.controller_name, :default => controller.controller_name.titleize) %>
    <% end %>
</title>

<!-- Get "Open Sans" font from Google -->
<link href='//fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600&subset=latin,cyrillic,greek,vietnamese' rel='stylesheet' type='text/css'>

<%= stylesheet_link_tag 'spree/backend/all' %>

<%= javascript_include_tag 'spree/backend/all' %>

<%= render "spree/admin/shared/translations" %>

<%= javascript_tag do -%>
  jQuery.alerts.dialogClass = 'spree';
  <%== "var AUTH_TOKEN = #{form_authenticity_token.inspect};" %>
<% end -%>

<%= yield :head %>