<footer id="footer" class="sixteen columns" data-hook>
    <div class="container">

    	<div class="four columns">
      <%= image_tag "logo/spree_50.png", :alt => "Demo Theme", :id => "footer-logo" %>
      <br>
      <br>
      <div class="phone">
        <a href="callto:012341234567">408-xxx-xxxx</a>
        </div>
      <br>
      <div class="email">
        <a href="mailto:info.baiyunconsulting@gmail.com">info.baiyunconsulting@gmail.com</a>
      </div>
      <br>
      <div class="address">
        Demo Store 01
        <br>
        San Jose, CA, USA
      </div>
    </div>
    
    <div class="four columns">
      <h5>Our Best Offers</h5>
      <ul>
        <li><a href="/products">New Products</a></li>
        <li><a href="/products">Top Sellers</a></li>
        <li><a href="/products">Specials</a></li>
        <li><a href="/products">Manufacturers</a></li>
        <li><a href="/products">Suppliers</a></li>
        <li><a href="/products">Service</a></li>        
      </ul>
    </div>
    
    <div class="four columns">
      <h5>Regular Services</h5>
      <ul>
        <li><a href="/products">Contact</a></li>
        <li><a href="/products">Shipping Info</a></li>
        <li><a href="/products">Returns</a></li>
        <li><a href="/products">F.A.Q.</a></li>
        <li><a href="/products">Size Chart</a></li>
        <li><a href="/products">Personal Shopper</a></li>
      </ul>
    </div>
    
    <div class="four columns">
      <h5>Important info</h5>
      <p>
        This website is <strong>NOT</strong> a real store, 
        it's a fully working demo application. 
        Please feel free to play around, but don't submit 
        any information you would not consider public!
      </p>
    </div>
    
  </div>
</footer>
